.voting-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upvote-button,
.downvote-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.upvote-button:hover .fa {
  color: #ff4500; /* Change color on hover (Reddit's upvote color) */
}

.downvote-button:hover .fa {
  color: #7193ff; /* Change color on hover (Reddit's downvote color) */
}
